<footer class="bg-pink text-center grid-spaceAround pad-all-xs">
  <p class="col-12 pad-top-xs editable">Phone: <a href="tel:+66832935905">+66 (0)83 293-5905</a></p>
  <div class="col-2_md-3_sm-4 grid-middle-center-spaceBetween icon-large">
    <a href="https://th.linkedin.com/in/pang-wichiantiab-0739a7131" target=blank><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    <a href="https://www.facebook.com/yourthaiva/" target=blank><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
    <a href="https://twitter.com/pangwct" target=blank><i class="fa fa-twitter" aria-hidden="true"></i></a>
    <a href="https://www.instagram.com/a.bikini.kinda.life/" target=blank><i class="fa fa-instagram" aria-hidden="true"></i></a>
  </div>
  <p class="col-12 pad-top-xs"><i class="fa fa-copyright" aria-hidden="true"></i> Your Thai VA <script type="text/javascript">
  document.write(new Date().getFullYear()); </script> | Designed by <a href="http://cnxweb.site" target=blank>CNX Web</a></p>
</footer>
